	<div id="banner">
		<div class="container">
			<div class="title">
				<h2>Render 3D plane geometries on a 2D canvas</h2>
			</div>
		</div>
	</div>
	<div id="extra" class="container">
		<div id="three-column">
			<div class="boxA">
				<div class="box">
					<p><b>Select type of polygon</b></p>
					<input type="radio" name="poly_type" value="tri"/> Triangle<br>
					<input type="radio" name="poly_type" value="quad"/> Quadrilateral<br><br>
					<p><b>Select canvas size</b></p>
					<input type="radio" name="cnv_size" value="1"/> 320x240<br>
					<input type="radio" name="cnv_size" value="2"/> 640x480<br>
					<input type="radio" name="cnv_size" value="3"/> 800x600
				</div>
			</div>
			<div class="boxB">
				<div class="box">
					<p><b>Enter Coordinates</b></p>
					<div id="coords"></div>
				</div>
			</div>
			<div class="boxC">
				<div class="box">
					<p><b>Choose color for surface</b></p>
					<div id="colorpicker"></div>
				</div>
			</div>
		</div>
		<ul class="actions">
			<li><a href="#" class="button">Render</a></li>
		</ul>
	</div>
	<div id="featured">
		<div class="container">
			<div id="rp_canvas"></div>
				<script type="text/javascript">

</script>

		</div>
		<ul class="actions">
			<li><a href="#" class="button">Clear Canvas</a></li>
		</ul>
	</div>
	<div id="page" class="container">
		<p>Objects</p>
		<select size="10">
			<option>Triangle 10 20 20 300</option>
			<option>Triangle 10 20 20 300</option>
			<option>Triangle 10 20 20 300</option>
			<option>Triangle 10 20 20 300</option>
		</select>
		<ul class="actions">
			<li><a href="#" class="button">Update</a></li>
		</ul>
	</div>
</div>
