<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>Render Polygon</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link type="text/css" rel="stylesheet" href="/css/default.css"/>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/js/three.min.js"></script>
	<script src="/js/main.js"></script>
  </head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Render Polygon</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
				<li><a href="#" accesskey="3" title="">About</a></li>
				<li><a href="#" accesskey="4" title="">Get Involved</a></li>
				<li><a href="#" accesskey="5" title="">Login / Register</a></li>
			</ul>
		</div>
	</div>
	</div>
{% endautoescape %}